.videoModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 5rem;
}

.videoModal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.videoModal__closeButton {
    position: relative;
    z-index: 1;
}

.videoModal__player {
    position: relative;
    z-index: 1;
}
